parameters:
  level: max

  paths:
    - src
    - tests

  # Ignoruj vendor a build priečinky
  excludePaths:
    - .github
    - vendor

  # Povolené rozšírenia
  scanFiles:
    - vendor/autoload.php

  # Prísnejšie pravidlá
  checkMissingVarTagTypehint: true
  checkMissingTypehints: true
  checkImplicitMixed: true
  checkExplicitMixed: true
  checkUninitializedProperties: true

  # Pridajte toto pravidlo pre ignorovanie chýb v testoch:
  ignoreErrors:
    -
      message: '#^Class .* has an uninitialized property .*\. Give it default value or assign it in the constructor\.$#'
      path: tests/*

  # Povolené typy pre JSON decode, API odpovede a dynamické polia
  universalObjectCratesClasses:
    - stdClass

  # Ignorované chyby (prázdne, aby si mal čistý štart)
  ignoreErrors: []
